
<mat-form-field>
    <mat-select placeholder="Select a Studio" [(value)]="studio" (selectionChange)="toFilter()">   <!--  דרופדאון-->
      <mat-option *ngFor="let stu of studios" [value]="stu">    <!--  הואליוו שומר את הבחירה-->

        {{stu}}
      </mat-option>
    </mat-select>
    <!--  -->
  </mat-form-field> 

  <br>

  <mat-form-field>    <!--סינון לפי כתיבה-->

    <input  matInput
            placeholder = "Insert Studio Name"
            [(ngModel)] = "studio" 
            type= "text"
            (keyup) = "filter()">          
  </mat-form-field>

<table mat-table [dataSource]="movies" class="mat-elevation-z8">    <!-- מאיפה לקחת את הנתונים -->

 
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="studio">
    <th mat-header-cell *matHeaderCellDef> Studio </th>
    <td mat-cell *matCellDef="let element"> {{element.studio}} </td>
  </ng-container>

  <ng-container matColumnDef="weekendIncome">
    <th mat-header-cell *matHeaderCellDef> Weekend Income </th>
    <td mat-cell *matCellDef="let element"> {{element.weekendIncome}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Delete </th>
    <td mat-cell *matCellDef="let element"> 
        <button (click) = "toDelete(element)"> Delete Movie</button>      <!-- שליחת שורה שלמה של סרט -->

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>    <!-- טבלת מטריאל חובה לשים -->

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>    <!-- טבלת מטריאל חובה לשים -->

</table>

<div style = "text-align: center; padding-top: 40px; width: 80%">The movie you deleted is: {{ name }}</div>
    
