table{
    table-layout: fixed;
    width: 80%;
    margin-top:35px;
    margin-left: 65px;
   
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
   
     }
td{
    padding: 30px;
    text-align: center;
}
table th{
    background-color: rgb(62, 96, 189);
    color: black;
    text-align: center;
}
button{
    font-weight:bold;
    color: rgb(172, 0, 37);
}