table{
    table-layout: fixed;
    width: 80%;
    
   
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 65px;

     
}
td{
    padding: 30px;
    text-align: center;
}

