
<table>
  
  <tr id={{id}}>
    <td>{{id}}</td>
    <td>{{title}}</td>
    <td>{{studio}}</td>
    <td>{{weekendIncome}}</td>
  
  <button (click) = "deleteMovie()">
      Delete Movie
    </button>
  </tr>
</table>